.button {
  background: var(--color-white);
  border-radius: 0.2em;
  box-shadow:
    0 0 0 1px rgba(var(--rgb-blue-dark), 0.05),
    0 1px 0 0 rgba(var(--rgb-blue-dark), 0.05)
  ;
  color: var(--color-blue);
  cursor: pointer;
  display: inline-flex;
  font-weight: 700;
  line-height: 1em;
  padding: 0.25em 1.3em;
  text-decoration: none;
  transition: color var(--transition);
  white-space: nowrap;
}
