.image {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image + .image {
  --spacing: 1.175em;
}

.image figure {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  justify-content: center;
  margin-bottom: 0.3125em;
  margin-top: 0.3125em;
}

.image figure img {
  border-radius: 0.2em;
  box-shadow:
    0 0 0 1px rgba(var(--rgb-black), 0.1),
    0 0.1em 2.8em -0.8em rgba(var(--rgb-black), 0.1),
    0 0.2em 3.2em -1.2em rgba(var(--rgb-black), 0.2),
    0 0.4em 2.0em -1.2em rgba(var(--rgb-black), 0.3),
    0 0.6em 2.4em -1.6em rgba(var(--rgb-black), 0.4),
    0 0.8em 2.8em -2.0em rgba(var(--rgb-black), 0.5)
  ;
  overflow: hidden;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.image figure img:hover {
  cursor: zoom-in;
}

.image figure figcaption {
  color: var(--color-blue-light);
  font-family: var(--font-family-inter);
  font-feature-settings: 'liga', 'dlig', 'ss03';
}

.image figure figcaption p {
  font-size: 50%;
  letter-spacing: normal;
  margin-bottom: -0.2475em;
}

.image--no-border figure img {
  border-radius: initial;
  box-shadow: none;
  filter: drop-shadow(0 0.5em 0.7em rgba(var(--rgb-black), 0.3));
}

.image.image-zoom-active {
  background: rgba(var(--rgb-blue), 0.96);
  display: grid;
  height: 100%;
  justify-content: center;
  left: 0;
  margin: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 102;
}

.image.image-zoom-active figure {
  margin: 0.5em;
  max-width: 45em;
}

.image.image-zoom-active figure img:hover {
  cursor: zoom-out;
}

.image.image-zoom-active figure figcaption {
  display: none;
}

@media(min-width: 64em) {

  .image figure {
    margin-left: -2em;
    margin-right: -2em;
  }

  .image.image-zoom-active figure {
    margin: 1.5em;
  }

}
