.version {

  display: inline-flex;
  font-family: var(--font-family-inter);
  font-feature-settings: 'case', 'cpsp', 'ss03';
  font-size: var(--font-size);
  letter-spacing: normal;
  line-height: 1;

  a,
  sup {
    border: 1px solid var(--color-white);
    border-radius: 1.7em;
    color: var(--color-white);
    font-size: 35%;
    font-weight: 500;
    line-height: 1em;
    padding: 0.4em 0.7em 0.3em 0.7em;
    text-decoration: none;
  }

  @media(hover: hover) {

    a {

      &:focus,
      &:hover {
        background: var(--color-white);
        color: var(--color-blue);
      }

    }

  }

}
